table, th, td {
   border: 1px solid black;
}
td:hover {
  background-color: yellow;
}
body
{
	overflow:auto;
}
button.manage_users_btn
{
	height:100%;
}

input.name
{
	width: 80%;
}

div.top_buttons_div
{
	 background-color: red;
}
div.table_div
{
	 background-color: orange;
}
div.new_date_form
{
	background-color: green;
}
